.material-design-icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;

  > .material-design-icon__svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
    position: absolute;
    bottom: -0.125em;
  }
}
